*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
    body{
        font-family: 'Times New Roman', Times, serif;
        background-color: rgb(248, 249, 250);
    }

    /* --""-- */

    #header{
        display: flex;
        padding: 15px 0 15px 40px;
    }
        .logo{
            display: flex;
            padding: 0 50px 0 10px;
            flex-direction: column;
            gap: 4px;
            justify-content: center;
        }
        .box-search{
            display: flex;
            align-items: center;
        }
            .box-search input{
                width: 380px;
                height: 32px;
                padding: 10px;
            }
            .box-search button{
                width: 92px;
                height: 32px;
                font-weight: 600;
            }

    /* --""-- */

    #main{
        display: grid;
        grid-template-columns: 15% 83%;
        gap: 2%;
        padding: 0 70px 0 40px;
    }